:root {
  --custom-red: #b71c1c;
  --tonal-border-radius: 20px;
  --tonal-font-weight: 500;
  --tonal-font-size: 14px;
  --button-max-width: 120px;
  --button-margin: 15px;
  --tonal-bg: #55442A;
  --tonal-fg: #F8DFBB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tonal-bg: #FFDAD6;
    --tonal-fg: #5D3F3C;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 100px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#update {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  max-width: 100%;
  width: 80%;
  flex-direction: column;
  overflow-wrap: break-word;
  text-align: center;
}

aside {
  display: none;
  width: 10%;
}

#eula {
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

.list-wrapper {
  text-align: start;
  margin: 0 auto;
}

ul li::before {
  content: "»";
  font-weight: 1000;
  font-size: 18pt;
  display: inline-block; 
  width: 1em;
  color: var(--custom-red);
}

#nonGp {
  display: none;
  text-align: start;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--button-margin);
  justify-content: flex-end
}

.tonal-button {
  background-color: var(--tonal-bg);
  color: var(--tonal-fg);
  border: none;
  border-radius: var(--tonal-border-radius);
  padding: 10px 16px;
  font-size: var(--tonal-font-size);
  font-weight: var(--tonal-font-weight);
  cursor: pointer;
  max-width: var(--button-max-width);
  width: 100%;
  text-align: center;
}